.btn {
  background: #01d1d1;
  font: inherit;
  border: 1px solid #01d1d1;
  border-radius: 4px;
  padding: 16px 24px;
  margin-right: 1rem;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
  color: #fff;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background: #01a7a7;
  border-color: #01a7a7;
}
